html, body {
    height: 100%;
    background-color: #eee;
}
header {
    font-family: 'Monoid Regular';
}
body {
    /*font-family: 'Monoid Regular';*/
    font-family: 'Roboto', sans-serif;
    padding-top: 50px;
}
#main {
    padding-bottom: 30px;
}
.parent-link {
    stroke: #888;
    stroke-width: 1px;
}
.children-link {
    stroke: #aaa;
    stroke-width: 0.5px;
}
.row {
    margin-left: 0;
    margin-right: 0;
}
.lots-of-space {
    padding-top: 50px;
    padding-bottom: 50px;
}
.gimme-space {
    margin: 25px 0;
}
.section-module {
    margin-top: 0;
    margin-bottom: 15px;
}
.section-text {
    margin-top: 0;
    margin-bottom: 5px;
}
.jumbotron {
    margin-bottom: 0;
    padding: 10px 0;
}
.jumbotron h1 {
    font-weight: bold;
    font-size: 4.4em;
}
.sub {
    font-weight: 300;
    font-size: 1.8em;
}
.bg-dark {
    background-color: #151515;
}
.bg-dark h1, .bg-dark h2 {
    color: #fff;
}
#name {
    font-weight: 700;
}
#contact-svg-container {
    border-color: #000;
    border-width: 5px;
}
.stripes {
    /*https://color.adobe.com/Vitamin-C-color-theme-492199*/
    /*background: repeating-linear-gradient(
        45deg,
        rgba(0, 67, 88, 0.35),
        rgba(0, 67, 88, 0.35) 30px,
        rgba(31, 138, 112, 0.4) 30px,
        rgba(31, 138, 112, 0.4) 70px,
        rgba(190, 219, 57, 0.4) 70px,
        rgba(190, 219, 57, 0.4) 105px,
        rgba(255, 225, 26, 0.4) 105px,
        rgba(255, 225, 26, 0.4) 135px,
        rgba(253, 116, 0, 0.4) 135px,
        rgba(253, 116, 0, 0.4) 140px
    );*/
    /*background: repeating-radial-gradient(
        circle,
        purple,
        purple 30px,
        #4b026f 30px,
        #4b026f 80px
    );*/
}
.stripes-vita {
    /*https://color.adobe.com/Vitamin-C-color-theme-492199*/
    background: repeating-linear-gradient(
        -30deg,
        rgba(66, 89, 87, 0.35),
        rgba(66, 89, 87, 0.35) 60px,
        rgba(129, 172, 139, 0.4) 60px,
        rgba(129, 172, 139, 0.4) 140px,
        rgba(242, 229, 162, 0.4) 140px,
        rgba(242, 229, 162, 0.4) 210px,
        rgba(248, 152, 131, 0.4) 210px,
        rgba(248, 152, 131, 0.4) 270px,
        rgba(217, 102, 102, 0.4) 270px,
        rgba(217, 102, 102, 0.4) 280px,
        rgba(255, 255, 255, 0.3) 280px,
        rgba(255, 255, 255, 1) 282px
    );
    /*background: repeating-radial-gradient(
        circle,
        purple,
        purple 30px,
        #4b026f 30px,
        #4b026f 80px
    );*/
}
.stripes-aspi {
    background: repeating-linear-gradient(
        20deg,
        rgba(34, 83, 120, 0.4),
        rgba(34, 83, 120, 0.4) 30px,
        rgba(22, 149, 163, 0.4) 30px,
        rgba(22, 149, 163, 0.4) 70px,
        rgba(172, 240, 242, 0.4) 70px,
        rgba(172, 240, 242, 0.4) 105px,
        rgba(243, 255, 226, 0.4) 105px,
        rgba(243, 255, 226, 0.4) 135px,
        rgba(235, 127, 0, 0.4) 135px,
        rgba(235, 127, 0, 0.4) 140px
    );
    /*background: repeating-radial-gradient(
        circle,
        rgba(22, 25, 59, 0.4),
        rgba(22, 25, 59, 0.4) 30px,
        rgba(53, 71, 140, 0.4) 30px,
        rgba(53, 71, 140, 0.4) 120px,
        rgba(78, 122, 199, 0.4) 120px,
        rgba(78, 122, 199, 0.4) 150px,
        rgba(127, 178, 240, 0.4) 150px,
        rgba(127, 178, 240, 0.4) 165px,
        rgba(173, 213, 247, 0.4) 165px,
        rgba(173, 213, 247, 0.4) 175px
    );*/
}
svg {
    background: repeating-linear-gradient(
        45deg,
        rgba(0, 67, 88, 0.3),
        rgba(0, 67, 88, 0.3) 30px,
        rgba(31, 138, 112, 0.3) 30px,
        rgba(31, 138, 112, 0.3) 60px,
        rgba(190, 219, 57, 0.3) 60px,
        rgba(190, 219, 57, 0.3) 100px,
        rgba(255, 225, 26, 0.3) 100px,
        rgba(255, 225, 26, 0.3) 130px,
        rgba(253, 116, 0, 0.3) 130px,
        rgba(253, 116, 0, 0.3) 135px
    );
    width: 100%;
}
#btn-box {
    padding: 5px 0;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
.list-group-item-heading, .list-group-item-text {
    color: #151515;
}
h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 2.6em;
}
h2 {
    font-weight: 300;
    font-size: 1.7em;
}
#subtitle {
    font-weight: 100;
}
#slim {
    font-weight: 100;
    font-size: 1.1em;
}
#liga {
    font-size: 16px;
}
ul.social-buttons {
    margin-bottom: 0;
    text-align: center;
}
ul.social-buttons li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: #fff;
    background-color: #222;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #377bb5;
    /*background-color: #2b618e;*/
}
a:hover, a:active {
     text-decoration: none;
}
@media (min-width: 768px) {
    .fullscreen {
        min-height: 100%;
        height: 100%;
    }
    .jumbotron h1 {
    	font-size: 8em;
    }
    .sub {
        font-size: 3em;
    }
    h1 {
        font-size: 4em;
    }
    h2 {
        font-size: 2.4em;
    }
    #slim {
        font-size: 1.6em;
    }
    #main {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
    .lots-of-space {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    ul.social-buttons li a {
        width: 50px;
        height: 50px;
        font-size: 25px;
        line-height: 50px;
    }
}

@media (min-width: 992px) {
    .jumbotron h1 {
    	font-size: 9em;
    }
    h1 {
        font-size: 5em;
    }
    h2 {
        font-size: 2.8em;
    }
    #slim {
        font-size: 1.9em;
    }
    .lots-of-space {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    ul.social-buttons li a {
        width: 60px;
        height: 60px;
        font-size: 30px;
        line-height: 60px;
    }
}

@media (min-width: 1200px) {
    .jumbotron h1 {
    	font-size: 12em;
    }
    h1 {
        font-size: 6em;
    }
    h2 {
        font-size: 3.2em;
    }
    #slim {
        font-size: 2.2em;
    }
    .lots-of-space {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    ul.social-buttons li a {
        width: 70px;
        height: 70px;
        font-size: 35px;
        line-height: 70px;
    }
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
