html, body {
    height: 100%;
}
header {
    font-family: 'Monoid Regular';
}

body {
    /*font-family: 'Monoid Regular';*/
    font-family: 'Roboto', sans-serif;
    padding-top: 50px;
}

#main {
    padding-bottom: 30px;
}
.row {
    margin-left: 0;
    margin-right: 0;
}
.lots-of-space {
    padding-top: 50px;
    padding-bottom: 50px;
}
.gimme-space {
    margin: 25px 0;
}
.section-module {
    margin-top: 0;
    margin-bottom: 15px;
}
.section-text {
    margin-top: 0;
    margin-bottom: 5px;
}
.jumbotron {
    margin-bottom: 0;
    padding: 10px 0;
}
.jumbotron h1 {
    font-weight: bold;
    font-size: 4.4em;
}
.jumbotron p {
    font-weight: 300;
    font-size: 1.3em;
}
#bg-dark {

    background-color: #151515;
}
#projects h1, h2 {
    color: #fff;
    font-weight: 300;
}
.list-group-item-heading, .list-group-item-text {
    color: #151515;
}
.black-text {
    color: #151515;
}
#title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 2.6em;
}
#subtitle {
    font-weight: 100;
}
#slim {
    font-size: 1.1em;
    font-weight: 100;
}
#liga {
    font-size: 16px;
}

@media (min-width: 768px) {
    .jumbotron {
        min-height: 100%;
        height: 100%;
    }
    .jumbotron h1 {
    	font-size: 8em;
    }
    .jumbotron p {
        font-size: 1.8em;
    }
    #title {
        font-size: 4em;
    }
    #slim {
        font-size: 1.6em;
    }
    #main {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
    .lots-of-space {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

@media (min-width: 992px) {
    .jumbotron h1 {
    	font-size: 9em;
    }
    .jumbotron p {
        font-size: 2.1em;
    }
    #title {
        font-size: 5em;
    }
    #slim {
        font-size: 1.9em;
    }
    .lots-of-space {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

@media (min-width: 1200px) {
    .jumbotron h1 {
    	font-size: 10em;
    }
    .jumbotron p {
        font-size: 2.4em;
    }
    #title {
        font-size: 6em;
    }
    #slim {
        font-size: 2.2em;
    }
    .lots-of-space {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

ul.social-buttons {
    margin-bottom: 0;
    text-align: center;
}

ul.social-buttons li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: #fff;
    background-color: #222;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #2b618e;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
