html, body {
    height: 100%;
    background-color: #eee;
}
header {
    font-family: 'Monoid Regular';
}

body {
    /*font-family: 'Monoid Regular';*/
    font-family: 'Roboto', sans-serif;
    padding-top: 50px;
}
#main {
    padding-bottom: 30px;
}
.row {
    margin-left: 0;
    margin-right: 0;
}
.lots-of-space {
    padding-top: 50px;
    padding-bottom: 50px;
}
.gimme-space {
    margin: 25px 0;
}
.section-module {
    margin-top: 0;
    margin-bottom: 15px;
}
.section-text {
    margin-top: 0;
    margin-bottom: 5px;
}
.jumbotron {
    margin-bottom: 0;
    padding: 10px 0;
}
.jumbotron h1 {
    font-weight: bold;
    font-size: 4.4em;
}
.jumbotron p {
    font-weight: 300;
    font-size: 1.3em;
}
#bg-dark {
    background-color: #151515;
}
#projects h1, h2 {
    color: #fff;
}
.list-group-item-heading, .list-group-item-text {
    color: #151515;
}
h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 2.6em;
}
h2 {
    font-weight: 300;
    font-size: 1.7em;
}
#subtitle {
    font-weight: 100;
}
#slim {
    font-size: 1.1em;
    font-weight: 100;
}
#liga {
    font-size: 16px;
}
ul.social-buttons {
    margin-bottom: 0;
    text-align: center;
}

ul.social-buttons li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: #fff;
    background-color: #222;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #377bb5;
    /*background-color: #2b618e;*/
}

@media (min-width: 768px) {
    .jumbotron {
        min-height: 100%;
        height: 100%;
    }
    .jumbotron h1 {
    	font-size: 8em;
    }
    .jumbotron p {
        font-size: 1.8em;
    }
    h1 {
        font-size: 4em;
    }
    h2 {
        font-size: 2.4em;
    }
    #slim {
        font-size: 1.6em;
    }
    #main {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
    .lots-of-space {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    ul.social-buttons li a {
        width: 50px;
        height: 50px;
        font-size: 25px;
        line-height: 50px;
    }
}

@media (min-width: 992px) {
    .jumbotron h1 {
    	font-size: 9em;
    }
    .jumbotron p {
        font-size: 2.1em;
    }
    h1 {
        font-size: 5em;
    }
    h2 {
        font-size: 2.8em;
    }
    #slim {
        font-size: 1.9em;
    }
    .lots-of-space {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    ul.social-buttons li a {
        width: 60px;
        height: 60px;
        font-size: 30px;
        line-height: 60px;
    }
}

@media (min-width: 1200px) {
    .jumbotron h1 {
    	font-size: 12em;
    }
    .jumbotron p {
        font-size: 3em;
    }
    h1 {
        font-size: 6em;
    }
    h2 {
        font-size: 3.2em;
    }
    #slim {
        font-size: 2.2em;
    }
    .lots-of-space {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    ul.social-buttons li a {
        width: 70px;
        height: 70px;
        font-size: 35px;
        line-height: 70px;
    }
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.rw-words{
	display: inline;
	text-indent: 10px;
}
.rw-words-1 span{
	position: absolute;
	opacity: 0;
	overflow: hidden;
	-webkit-animation: rotateWord 8s linear infinite 0s;
	-ms-animation: rotateWord 8s linear infinite 0s;
	animation: rotateWord 8s linear infinite 0s;
}
.rw-words-1 span:nth-child(2) {
    -webkit-animation-delay: 2s;
	-ms-animation-delay: 2s;
	animation-delay: 2s;
}
.rw-words-1 span:nth-child(3) {
    -webkit-animation-delay: 4s;
	-ms-animation-delay: 4s;
	animation-delay: 4s;
}
.rw-words-1 span:nth-child(4) {
    -webkit-animation-delay: 6s;
	-ms-animation-delay: 6s;
	animation-delay: 6s;
}
.rw-words-1 span:nth-child(5) {
    -webkit-animation-delay: 8s;
	-ms-animation-delay: 8s;
	animation-delay: 8s;
}
@-webkit-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); }
	5% { opacity: 1; -webkit-transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); }
	20% { opacity: 0; -webkit-transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -ms-transform: translateY(-30px); }
	5% { opacity: 1; -ms-transform: translateY(0px);}
    17% { opacity: 1; -ms-transform: translateY(0px); }
	20% { opacity: 0; -ms-transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
	5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
	20% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
