body, header {
    font-family: 'Monoid Regular';
}

body {
    font-family: 'Menlo', monospace;
    padding-top: 50px;
}

#status {
    font-size: 20px;
}
#main {
    padding: 25px 0;
}
#title {
    font-family: 'Menlo', monospace;
    font-size: 26px;
    font-weight: bold;
}
.algorithm {
    color: #337ab7;
}
#algMoves {

}
#result {
    height: 320px;
    display: flex;
}

#resultFront {
    width: 50%;
}

#resultBack {
    flex-grow: 1;
}
#algInput {
    height: 36px;
}
pre, code, textarea {
  font-family: "Menlo", monospace;
}

code {
  line-height: 1em;
}

textarea {
  font-size: 100%;
}

body > pre {
    border-left: solid 2px #ccc;
    padding-left: 18px;
    margin: 2em 0 2em -20px;
}
.module {
    margin-top: 0;
    margin-bottom: 15px;
}

.randomState {

}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
