@font-face {
    font-family: 'Monoid Regular';
    src: url('../fonts/Monoid-Regular.eot');
    src: url('../fonts/Monoid-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Monoid-Regular.woff2') format('woff2'),
    url('../fonts/Monoid-Regular.woff') format('woff'),
    url('../fonts/Monoid-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Monoid Bold';
  src: url('../fonts/Monoid-Bold.eot');
  src: url('../fonts/Monoid-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Monoid-Bold.woff2') format('woff2'),
  url('../fonts/Monoid-Bold.woff') format('woff'),
  url('../fonts/Monoid-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body, header {
    font-family: 'Monoid Regular';
}

body {
    padding-top: 50px;
}

#bold {
	font-family: 'Monoid Bold';
}

.navbar {
    margin-bottom: 0;
    border: none;
    border-radius: 0px;
}

.navbar a {
    color: white !important;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}
