@font-face {
    font-family: 'Monoid Regular';
    src: url('../../fonts/Monoid-Regular.eot');
    src: url('../../fonts/Monoid-Regular.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/Monoid-Regular.woff2') format('woff2'),
    url('../../fonts/Monoid-Regular.woff') format('woff'),
    url('../../fonts/Monoid-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Monoid Bold';
  src: url('../../fonts/Monoid-Bold.eot');
  src: url('../../fonts/Monoid-Bold.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Monoid-Bold.woff2') format('woff2'),
  url('../../fonts/Monoid-Bold.woff') format('woff'),
  url('../../fonts/Monoid-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body, header {
    font-family: 'Monoid Regular';
}

body {
    padding-top: 50px;
}

.navbar {
    margin-bottom: 0;
    border: none;
    border-radius: 0px;
}

.navbar a {
    color: white !important;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}

.board {
	position: relative;
	top: 10%;
	left: 50%;
	z-index: 0;
	border-radius: 10px;
}

.tile {
	opacity: 100;
	display: inline-block;
	margin: 0px;
	position: relative;
	border-radius: 10px;
	background-color: white;
}

#sort {
	background-color: #CCC;
	/*position: absolute;
	vertical-align: middle;
	border: none;
    border-radius: 0px;*/
}
/*
#unsort {
	position: absolute;
	top: 60%;
	bottom: 0;
	z-index: 3;
	border: none;
    border-radius: 0px;
}*/
#game-title {
    font-family: 'Monoid Bold';
    font-size: 2vw;
}

#level {
    font-family: 'Monoid Regular';
    font-size: 2vw;
}

#level-btn {
    font-size: 20;
    text-align: center;
}
