* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body, header {
    font-family: 'Monoid Regular';
}

body {
    padding-top: 50px;
    overflow-y:hidden;
}

.board {
	position: relative;
	top: 10%;
	left: 50%;
	z-index: 1;
	border-radius: 10px;
}

.tile {
	opacity: 100;
	display: inline-block;
	margin: 0px;
	position: relative;
	border-radius: 10px;
	background-color: white;
}

#sort {
	background-color: #CCC;
}

#unsort {

}
#game-title {
    font-family: 'Monoid Bold';
    font-size: 2vw;
}

#level {
    font-family: 'Monoid Regular';
    font-size: 32px;
}

#win-message {
    font-size: 20px;
    text-align: center;
}

#level-btn {
    text-align: center;
}
