header {
    font-family: 'Monoid Regular';
}

body {
    font-family: monospace, monospace;
    padding-top: 50px;
}

h1 {
    font-weight: bold;
	font-size: 4.4vw;
}

h2 {
    font-size: 1.8vw;
}

h3 {
    font-size: 1.4vw;
}

section {
    padding: 25px 0;
}

section .section-module {
    margin-top: 0;
    margin-bottom: 15px;
}

section .section-text {
    margin-top: 0;
    margin-bottom: 5px;
}

/*
a:link {
    color: #8ed3f3;
}
a:visited {

}
a:hover, a:active {
    color: #b9dded;
    text-decoration: underline;
}*/

a:link {

}
a:visited {
    color: #9c2f6f;
}
a:hover {
    color: #275882;
    text-decoration: underline;
}
a:active {
    color: #3e8bcf;
    text-decoration: underline;
}

#sentence2 {
    opacity: 0.4;
}

#sentence3 {
    opacity: 0.3;
}

#sentence-display {
    text-align: left;
    font-family: monospace, monospace;
    padding: 1% 0;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
