body, header {
    font-family: 'Monoid Regular';
}

body {
    padding-top: 50px;
}

#status {
    font-size: 20px;
}
#main {
    padding: 25px 0;
}

.module {
    margin-top: 0;
    margin-bottom: 15px;
}

.randomState {

}

.resultText {
    font-weight: bold;
    font-size: 22px;
}

.result {
    height: 320px;
    display: flex;
}

.resultFront {
    width: 50%;
}

.resultBack {
    flex-grow: 1;
}
