body, header {
    font-family: 'Monoid Regular';
}

body {
    padding-top: 50px;
}

#status {
    font-size: 20px;
}
#main {
    padding: 25px 0;
}
#algMoves {

}
#resultText {
    font-weight: bold;
    font-size: 22px;
}

#result {
    height: 320px;
    display: flex;
}

#resultFront {
    width: 50%;
}

#resultBack {
    flex-grow: 1;
}

.module {
    margin-top: 0;
    margin-bottom: 15px;
}

.randomState {

}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
